<h1 class="text-center text-muted">Editar Cliente</h1>

<%= render 'form', cliente: @cliente %>

<h5 class="text-center text-muted"><%= link_to 'Mostrar', @cliente %></h5> |
<h5 class="text-center text-muted"><%= link_to 'Volver', clientes_path %></h5>
