<h1 class="text-center text-muted">Editar Trabajador</h1>

<%= render 'form', trabajador: @trabajador %>

<h5 class="text-center text-muted"><%= link_to 'Mostrar', @trabajador %></h5> |
<h5 class="text-center text-muted"><%= link_to 'Volver', trabajadors_path %></h5>
