<h1 class="text-center text-muted">Editar Proveedor</h1>

<%= render 'form', proveedor: @proveedor %>

<h5 class="text-center text-muted"><%= link_to 'Mostrar', @proveedor %> </h5>|
<h5 class="text-center text-muted"><%= link_to 'Volver', proveedors_path %></h5>
