<h1 class="text-center text-muted">Editar Boleta Compra</h1>

<%= render 'form', boleta_compra: @boleta_compra %>

<h5 class="text-center text-muted"><%= link_to 'Mostrar', @boleta_compra %></h5> |
<h5 class="text-center text-muted"><%= link_to 'Volver', boleta_compras_path %></h5>
