<h1 class="text-center text-muted">Nueva Boleta de Compra</h1>

<%= render 'form', boleta_compra: @boleta_compra %>

<h5 class="text-center text-muted"><%= link_to 'Volver', boleta_compras_path %></h5>
