<h1>Editing Carro Ventum</h1>

<%= render 'form', carro_ventum: @carro_ventum %>

<h5 class="text-center text-muted"><%= link_to 'Mostrar', @carro_ventum %></h5> |
<h5 class="text-center text-muted"><%= link_to 'Volver', carro_venta_index_path %></h5>
