<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @carro_ventum.cantidad %>
</p>

<%= link_to 'Edit', edit_carro_ventum_path(@carro_ventum) %> |
<%= link_to 'Back', carro_venta_index_path %>
