<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @carro_ventum.cantidad %>
</p>

<h5 class="text-center text-muted"><%= link_to 'Editar', edit_carro_ventum_path(@carro_ventum) %></h5> |
<h5 class="text-center text-muted"><%= link_to 'Back', carro_venta_index_path %></h5>
