<header class="major">
					<h2><b>Contactanos:</b></h2>
					<hr/>
					<p><b>Mail:</b> confeccionesmys@hotmail.com</p>
					<p><b>Celular:</b> +56978581445</p>
					<p><b>Telefono fijo:</b> 02-25063492</p>
					<p><b>Nombre admnistrador:</b> Soledad Guerra</p>
					<div class="6u">
						
							<p><b>Redes sociales:</b><a href="https://www.facebook.com/ConfeccionesMYS"> Facebook</a></p>
							
						</div>
					<hr/>


					
</header>