<header class="major">
					<h2><b>Contactanos:</b></h2>
					<hr/>
					<p><b>Mail:</b> las3B@gmail.com </p>
					<p><b>Celular:</b> +56975151413</p>
					<p><b>Telefono fijo:</b> 02-27768630</p>
					<p><b>Nombre admnistrador:</b> Victor Gomez</p>
					<div class="6u">
						
							<p><b>Redes sociales:</b><a href="https://www.facebook.com/example"> Facebook</a></p>
							
						</div>
					<hr/>


					
</header>