
<h3><b>Tienda Las 3B</b></h3>

<hr/> 

<p>Tienda 3B comienza sus inicios alrededor del año 2014 y consiste, somo un grupo de profesionales capacitados, tenemos una gran experiencia en todo lo que es venta de producto siempre entregando el mejor servicio posible para que nuestros clientes tengan la mejor experiencia de compra.</p>

<hr/>
<br>
<h3><b>¿Cual es la mision de la empresa?</b></h3>

<p>Entregar un servicio de buena calidad y con altos estándares de calidad lo que le dé al cliente una satisfacción plena a la hora de preferir nuestros servicios.</p>

<hr/>


<h3><b>¿Cual es el objetivo de la empresa?</b></h3>

<p>Ser una de las mejores empresas en su rubro y entregar un servicio diferente a las demás compañías.</p>




<hr/>
<header class="major">
<br>
					<h3><b>¿Porqué confiar en nosotros?</b></h3>
					
				</header>
				
				<div class="container">
					
					<div class="row">
						<div class="4u">
<br>
								
								<h4><b>Confiabilidad</b></h4>
								<p>Para nosotros, los clientes son los mas importante, por lo cual nos esmeramos en cumplir con las exigencias de cada uno.</p>
							
						</div>



						<br>
						<div class="4u">
							
								
								<h4><b>Servicio</b></h4>
								<p>Tenemos a lo mejores profesionales en el area, lo cual nos permite entregar un servicio con los mas altos estandares de calidad.</p>
							
						</div>


						<br>
						<div class="4u">
							
								
								<h4><b>Tecnologia De Punta</b></h4>
								<p>Contamos con tecnologia de ultima generacion, para cumplir con todos los requerimientos de nuestros clientes. </p>
							
						</div>

						<br>
						<br>
					</div>
				</div>
			</section>
					




