<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad prod:</strong>
  <%= @carro_vente.cantidad_prod %>
</p>

<%= link_to 'Edit', edit_carro_vente_path(@carro_vente) %> |
<%= link_to 'Back', carro_ventes_path %>
