<h1 class="text-center text-muted">Editar Producto</h1>

<%= render 'form', producto: @producto %>

<h5 class="text-center text-muted"><%= link_to 'Mostrar', @producto %> </h5>|
<h5 class="text-center text-muted"><%= link_to 'Volver', productos_path %></h5>
