<h1>Editing Carro Compra</h1>

<%= render 'form', carro_compra: @carro_compra %>

<h5 class="text-center text-muted"><%= link_to 'Mostrar', @carro_compra %></h5>  |
<h5 class="text-center text-muted"><%= link_to 'Volver', carro_compras_path %> </h5>
