<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad prod:</strong>
  <%= @carro_compra.cantidad_prod %>
</p>

<%= link_to 'Edit', edit_carro_compra_path(@carro_compra) %> |
<%= link_to 'Back', carro_compras_path %>
