<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad prod:</strong>
  <%= @carro_compra.cantidad_prod %>
</p>

<h5 class="text-center text-muted"><%= link_to 'Editar', edit_carro_compra_path(@carro_compra) %></h5> |
<h5 class="text-center text-muted"><%= link_to 'Volver', carro_compras_path %></h5>
