<h2 class="text-center text-muted"><p>Hola <%= @resource.email %>!</p>
</h2>
<h5 class="text-center text-muted">
<p>Someone has requested a link to change your password. You can do this through the link below.</p>
</h5>
<h5 class="text-center text-muted">
<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>
</h5>
<h5 class="text-center text-muted">
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
</h5>