<% if spree_current_user %>
  <li id="my-account">
  	<a href="/account">Mi Cuenta</a>
  </li>
  <li id="logout">
  	<a href="/logout">Cerrar Sesion</a>
  </li>
<% else %>	
  <li id="link-to-login">
  	<a href="/login">Iniciar Sesion</a>
  </li>
<% end %>