<h1 class="text-center text-muted">Editar Boleta de Venta</h1>

<%= render 'form', boleta_ventum: @boleta_ventum %>

<h5 class="text-center text-muted"><%= link_to 'Mostrar', @boleta_ventum %></h5> |
<h5 class="text-center text-muted"><%= link_to 'Volver', boleta_venta_index_path %></h5>
