<h1 class="text-center text-muted">Editar Registro</h1>

<%= render 'form', registro: @registro %>

<h5 class="text-center text-muted"><%= link_to 'Mostrar', @registro %></h5> |
<h5 class="text-center text-muted"><%= link_to 'Volver', registros_path %></h5>
